<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Cars</title>-->
<!--</head>-->
<!--<body>-->


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Таблица</title>
    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Series</th>
        <th> Model </th>
        <th> Power </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.series}"> Series </span></td>
        <td><span th:text="${car.model}"> Model </span></td>
        <td><span th:text="${car.power}"> Power </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>